<p id="notice"><%= notice %></p>

<h1>Patient Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Birthday</th>
      <th>Gender</th>
      <th>Self</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient_profiles.each do |patient_profile| %>
      <tr>
        <td><%= patient_profile.FirstName %></td>
        <td><%= patient_profile.LastName %></td>
        <td><%= patient_profile.Birthday %></td>
        <td><%= patient_profile.Gender %></td>
        <td><%= patient_profile.Self %></td>
        <td><%= patient_profile.Address %></td>
        <td><%= patient_profile.Phone %></td>
        <td><%= link_to 'Show', patient_profile %></td>
        <td><%= link_to 'Edit', edit_patient_profile_path(patient_profile) %></td>
        <td><%= link_to 'Destroy', patient_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient Profile', new_patient_profile_path %>
